/* Css example */
body{width:100%;}
p.check{padding:15px;}
.centered-text{text-align:center;}
#spinner{height:60px;width:60px;margin-left:150px;}
.input_file_button_zone{position:relative;}
.modal-body{text-align:left;}
.openssl{font-family:"Courier New";font-size:11px;width:80%;}
