/* Css example */
body{width:100%;}
p.check{padding:15px;}
.centered-text {text-align:center}
.tooltip-inner {max-width:400px;width:400px;text-align:left;}
#spinner {height: 60px;width:60px;margin-bottom:10px;}
